<h2><%= @order.user.name %></h2>
<p><%= @order.user.address %></p>
<p><%= @order.user.city %> <%= @order.user.state %> <%= @order.user.zip %></p>
<p>Status: <%= @order.status %></p>


<center>
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Status</th>
  </tr>
<% @merchant.order_items_by_order(@order.id).each do |order_item| %>
  <tr id="order-item-<%= order_item.id %>">
    <td><%= link_to order_item.item.name, "/merchant/items/#{order_item.item.id}" %></td>
    <td><p><%= number_to_currency(order_item.price) %></p></td>
    <td><p><%= order_item.quantity %></p></td>
    <td><% if order_item.fulfilled? %>
      <p>Fulfilled</p>
    <% elsif order_item.fulfillable? %>
      <%= link_to 'Fulfill', "/merchant/orders/#{@order.id}/fulfill/#{order_item.id}" %>
    <% else %>
      <p>Insufficient Inventory</p>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
</center>